/* styles.css */
body {
    /*background-image: url('/images/magic-background.jpg'); /* Set your magical background image path */
    background-size: cover;
    background-position: center;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 400px;
}

.btn-magic {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btn-magic:hover {
    background-color: #495057;
    border-color: #495057;
    color: #fff;
}
