<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{bootstrap-fragment :: head}">
<body>
<div class="container" data-th-insert="~{navbar-fragment}"></div>
<div class="center-container">
    <div class="container" data-th-if="${loggedIn}">
        <form action="/match/create" method="post">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
            <div class="container">
                <form th:action="@{/matches}" method="get">
                    <label for="date">Select Date:</label>
                    <input type="date" id="date" name="date">
                    <button type="submit">Filter</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Team 1</th>
                            <th>Stadium</th>
                            <th>Date</th>
                            <th>Team 2</th>
                            <th scope="col" data-th-if="${loggedIn}">Actions</th>
                        </tr>
                    </thead>
                <tbody>
                    <div th:each="game : ${matches}">
                        <tr>
                            <td>
                                <a data-th-attr="data-url=@{/team?id=} + ${game.getTeams().first.id}" onclick="navigateTo(event)" th:text="${game.getTeams().first.getName()}"></a>
                            </td>
                            <td>
                                <span th:text="${game.getStadium().getName()}"></span>
                            </td>
                            <td>
                                <span th:text="${game.getDate()}"></span>
                            </td>
                            <td>
                                <a data-th-attr="data-url=@{/team?id=} + ${game.getTeams().get(1).id}" onclick="navigateTo(event)" th:text="${game.getTeams().get(1).getName()}"></a>
                            </td>
                            <td>
                                <form action="/matches/delete" method="post" data-th-if="${loggedIn}">
                                    <input type="hidden" name="id" data-th-value="${game.getId()}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script data-th-inline="javascript">
    function navigateTo(event) {
        var url = event.currentTarget.dataset.url;
        if (url) {
            window.location.href = url;
        }
    }
</script>
</html>