<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{bootstrap-fragment :: head}">

</head>
<body>
    <div class="container" data-th-insert="~{navbar-fragment}"></div>
    <div class="container">
        <h2>Team List</h2>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col" data-th-if="${loggedIn}">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr data-th-each="team : ${teams}" data-th-attr="data-url=@{/team?id=} + ${team.id}" onclick="navigateTo(event)">
                    <td><a data-th-text="${team.name}"></a></td>
                    <td><a data-th-text="${team.country.name}"></a></td>
                    <td>
                        <form action="/team/delete" method="post" data-th-if="${loggedIn}">
                            <input type="hidden" name="id" data-th-value="${team.id}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script data-th-inline="javascript">
    function navigateTo(event) {
        var url = event.currentTarget.dataset.url;
        if (url) {
            window.location.href = url;
        }
    }
</script>
</html>
